@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-smooth: always;  
  height: 100vh;
}

/** Custom Css for carousel **/

.slick-slide.slick-current > div, .slick-slide > div {
  display: flex;
  justify-content: center;
}

.slick-slide.slick-current > div > div {
  background-color: #660099;
  width: 122px;
  height: 150px;
  -webkit-box-shadow: 3px 4px 5px 1px rgba(0,0,0,0.46);
  -moz-box-shadow: 3px 4px 5px 1px rgba(0,0,0,0.46);
  box-shadow: 3px 4px 5px 1px rgba(0,0,0,0.46);
  margin-bottom: 10px;
}


.slick-slide > div > div {
  width: 70px;
  height: 88px;
}

.slick-slide > div > div > p {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #fff;
}

.slick-slide.slick-current > div > div > p {
  opacity: 1;
  font-size: 18px;
  color: #fff;
}

.slick-disabled{
  opacity: 0;
}

/** Custom css for scroll **

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #8A8A8A #DFE9EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #8A8A8A;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #9C9C9C;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #CCCCCC;
}
