@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-smooth: always;
  height: 100vh;
}

.slick-slide > div > div > div{
  opacity:1;
  background-color: #660099;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
  width: 70px;
  height: 88px; 
}
.slick-slide > div > div > div > p{
  opacity: 0;
}

.slick-disabled{
  opacity: .3
}

.slick-slide.slick-active.slick-current.slick-center  > div > div > div{
  opacity:1;
  background-color: #660099;
  transition: opacity 0.3s ease-in-out;
  width: 122px;
  height: 150px;
}

.slick-slide.slick-active.slick-current.slick-center  > div > div > div > p{
  opacity: 1;
}



*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #8a8a8a;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #9c9c9c;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #cccccc;
}
